<html>
    <head>
        <title>Post prototype</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <p>Hey! What's happending?</p>
        <form action="." method="POST">
            <!-- <input type="text" name="text"> -->
            <textarea class="form-control" style="width:300px; height:150px" id="input_text" name="text"></textarea><br><br>
            <input type="submit" name="my-form" value="Go">
        </form>
    </body>
</html>